<h1>New assistant registration</h1>

<%= render "form", assistant_registration: @assistant_registration %>

<br>

<div>
  <%= link_to "Back to assistant registrations", assistant_registrations_path %>
</div>
