<div id="<%= dom_id registration %>">
  <p>
    <strong>Name:</strong>
    <%= registration.name %>
  </p>

  <p>
    <strong>Type volunteer:</strong>
    <%= registration.type_volunteer %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= registration.birthdate %>
  </p>

</div>
