<h1>Editing teacher registration</h1>

<%= render "form", teacher_registration: @teacher_registration %>

<br>

<div>
  <%= link_to "Show this teacher registration", @teacher_registration %> |
  <%= link_to "Back to teacher registrations", teacher_registrations_path %>
</div>
