<h1>Editing leaders registration</h1>

<%= render "form", leaders_registration: @leaders_registration %>

<br>

<div>
  <%= link_to "Show this leaders registration", @leaders_registration %> |
  <%= link_to "Back to leaders registrations", leaders_registrations_path %>
</div>
