<h1>Editing child registration</h1>

<%= render "form", child_registration: @child_registration %>

<br>

<div>
  <%= link_to "Show this child registration", @child_registration %> |
  <%= link_to "Back to child registrations", child_registrations_path %>
</div>
